<!-- <div class="wrapper wrapper-full-page"> -->
  
  <div class="full-page login-page" data-color="villa" data-image="https://picsum.photos/1920/1080">
    
    <div class="content">
      
      <!--   you can change the color of the filter page using: data-color="blue | azure | green | orange | red | purple" -->
      <ion-grid>
        
        <ion-row color="primary" class="ion-justify-content-center">
          <ion-col class="align-self-center" size-xl="4" size-md="6" size-lg="6" size-xs="9">
            
            <div class="card card-hidden ion-text-center">

              <div class="ion-text-center">
                <!-- <img alt="Campus Villa de Educação" style="max-width: 150px; padding-bottom: 20px;" src="../../../assets/icons/icon-192x192.png"> -->
                
              </div>
              <button class="btn btn-lg btn-info large btn-fill btn-round btn-wd" stylesize="large" (click)="byPass()"
              expand="block">
              <ion-icon name="logo-windows"></ion-icon>
              <b>Clique aqui para acessar</b>
            </button>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <footer class="footer footer-transparent">
    <div class="container">
      <p class="copyright ">
        &copy; {{test | date: 'yyyy'}} <a target="_blank" href="https://github.com/AndreVNP">André Vicente</a> | Nem todos
        os direitos reservados</p>
      </div>
      
    </footer>
  </div>
<!-- </div> -->